*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	margin:0; padding:0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	color:#333237;
}
.row{
	width:100%;
}
#intro-row{
	position: fixed;
	top:0px;
	height:300px;
	background-color: #E5EBF2;/*#DEDCC5;*/ /*#EEF0F0;*/ /*#F4F3F2;*/
	text-align: center;
	z-index: 0;
}
@media(max-width: 640px){
	#intro-row{
		position: relative;
		height:150px;
	}
}
	#intro-row-contents{
		display: block;
		width:600px;
		height:100%;
		margin:0 auto;
		text-align: left;
	}
	@media(max-width: 640px){
		#intro-row-contents{
			width: 300px;
		}
	}
		#intro{
			display: inline-block;
			padding:40px;
		}
			#intro h1{
				color: #576670;
				font-size: 80px;
				line-height: 1.15em;
				font-weight: 200;
				text-align: center;
			}
			@media(max-width: 640px){
				#intro h1{
					font-size: 32px;
				}
			}
		#me-wrapper, #me{
			position: absolute;
			width:170px;
			height:170px;
			border-radius: 50%;
		}
		#me-wrapper{
			display: inline-block;
			top:50%;
			margin-top: -88px;
			margin-left: 20px;
		}
		@media(max-width: 640px){
			#me-wrapper, #me{
				width:90px;
				height:90px;
			}
			#me-wrapper{
				margin-top: -45px;
				margin-left: -20px;
			}
		}
		#me{
			margin: auto;
			top: 0; left: 0; bottom: 0; right: 0;
			border:4px solid #DEE0E2;
			background-clip: border-box;
			background-origin: padding-box;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-image:url('/images/me.jpg');
		}
		@media(max-width: 640px){
			#me{
				
			}	
		}
#body-row{
	margin-top:300px; /* matches height of #intro-row */
	position:relative;
	padding-top:70px;
	background-color: #A0C3FF;
	/*border-top: 4px solid #FFF;*/
	z-index: 1;
}
@media(max-width: 640px){
	#body-row{
		margin-top: 0px;
		padding-top: 30px;
	}
}
	#story{
		text-align: center;
		padding:120px 0px;
		padding-top: 60px;
	}
	@media(max-width: 640px){
		#story{
			padding:0px;
			padding-top: 10px;
		}
	}
		#travel{
			display: inline-block;
			min-width: 200px;
			width:350px;
			max-width:40%;
			text-align:center;
		}
		#story p{
			display: inline-block;
			vertical-align: top;
			padding: 40px;
			max-width: 375px;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;
			text-align: left;
		}
		@media(max-width: 640px){
			#story p{
				position: absolute;
				top: 20px;
				right: 50%;
				padding: 20px;
				max-width: none;
				margin: 0px;
				margin-right: -123px;
				font-size: 18px;
				line-height: 140%;
				text-align: right;
			}
			#story img{
				width: 240px;
				max-width: 90%;
				margin-top: 80px;
				margin-right: 30px;
				margin-bottom: 40px;
				margin: 80px auto 40px auto;
			}
		}
	#about-me{
		/*border-top: 4px solid rgba(0,0,0, 0.2);
		background-color: #F4F3F2;*/
		background-color: #E5EBF2;/*#E0EDF3;*/
		padding:40px;
		text-align: center;
		line-height: 130%;
		font-weight: 400;
		font-size: 22px;
	}
		#about-me a{
			text-decoration: none;
			color: #4D9FD7;
		}
		.small{
			font-size: 0.6em;
		}
	@media(max-width: 640px){
		#about-me{
			padding:20px;
		}
	}
	@media(max-width: 750px){
		#about-me{
			padding-left: 40px;
			padding-right: 40px;
		}
	}
		#what-i-do{
			display: inline-block;
			text-transform: uppercase;
			width:300px;
			vertical-align: top;
			padding-right: 40px;
			padding-top: 40px;
			color:rgba(0,0,0, 0.2);
			text-align: center;
			text-transform: capitalize;
		}
			#what-i-do p:first-child{
				font-size: 75px;
			}
			#what-i-do p{
				display: inline-block;
				font-size: 100px;
				margin:0;
				margin-bottom: 80px;
			}
		@media(max-width: 640px){
			#what-i-do{
				display: block;
				padding: 10px 0px;
				width:100%;
			}
				#what-i-do p:first-child, #what-i-do p{
					font-size: 28px;
				}
				#what-i-do p{
					margin-bottom: 0px;
				}
		}
		#about-me-text{
			display: inline-block;
			max-width: 375px;
		}
		@media(max-width: 640px){
			#about-me-text p{
				font-size: 16px;
				line-height: 130%;
			}
			#about-me-text p:first-child{
				margin-top: 10px;
			}
		}
		#about-me p{
			text-align: left;
			max-width: 500px;
		}
	#lonely{
		/*border-top:4px solid rgba(255,255,255,0.6);
		border-bottom:4px solid rgba(255,255,255,0.6);
		background-color:#8FE7B4;*/
		background-color: #AF6D71;
		color:#FFF;
		padding:60px;
		text-align: center;
		font-size: 1em;
	}
	@media(max-width: 640px){
		#lonely{
			padding: 40px 10px;
			font-size: 0.5em;
		}
	}
		#lonely h3{
			font-size: 32px;
			font-weight: 300;
		}
		#lonely h2{
			font-size: 42px;
			font-weight: 300;
		}
		#lonely h1{
			font-size: 50px;
			font-weight: 200;
		}
		@media(max-width: 640px){
			#lonely h3{
				font-size: 16px;
			}
			#lonely h2{
				font-size: 21px;
				margin-top: 20px;
			}
			#lonely h1{
				font-size: 26px;
			}
		}
	#coffee{
		/*border-top: 4px solid rgba(255,255,255,0.2);*/
		position: relative;
		padding: 40px;
		padding-bottom: 60px;
		text-align: center;
	}
	@media(max-width: 640px){
		#coffee{
			padding: 20px;
			font-size: 0.6em;
		}
	}
		#coffee-background{
			position: absolute;
			left:0px; top:0px;
			width:100%;
			height:100%;
			background-clip: border-box;
			background-origin: padding-box;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-image:url('/images/coffee.jpg');
			z-index: 0;
		}
		#coffee p{
			margin-bottom: 15px;
			line-height: 130%;
		}
		#coffee p, #explain{
			display: inline-block;
			position: relative;
			text-align: center;
			max-width: 700px;
			font-size: 26px;
			color:#FFF;
			z-index: 1;
		}
		@media(max-width: 640px){
			#coffee p{
				font-size: 18px;
				text-align: left;
			}
		}
		@media(max-width: 750px){
			#coffee p{
				text-align: center;
			}
		}
		#explain-wrapper{
			display: block;
			padding-top: 25px;
		}
			#explain{
				display: inline-block;
				margin-top: 0px;
				margin-bottom: 20px;
				text-align: left;
			}
				#thing{
					display: inline-block;
					background-color: rgba(255,255,255, 0.2);
					padding: 0px 5px;
					padding-bottom: 4px;
					min-width: 130px;
					text-align: center;
					border-radius: 3px;
					margin: 0px 3px;
				}
		@media(max-width: 640px){
			#explain-wrapper{
				padding-top: 15px;
			}
				#explain{
					display: inline-block;
					font-size: 18px;
					margin-top: 0px;
					margin-bottom: 20px;
					text-align: left;
				}
					#thing{
						min-width: 82px;
					}
		}
		#call-to-action{
			position: relative;
			display:block;
			color:#FFF;
			font-size: 24px;
			margin-top: 20px;
			margin-bottom: 10px;
			z-index: 1;
		}
		@media(max-width: 640px){
			#call-to-action{
				margin-top: 10px;
			}
		}
		#time-wrapper span abbr::before{
			content:"and";
		}
			#call-to-action input{
				padding:7px 5px;
				color:#FFF;
				font-size: 24px;
				font-family: 'Lato', sans-serif;
				width: 200px;
				background-color: transparent;
				border:0;
				border-bottom:2px solid rgba(255,255,255, 0.5);
				transition:all 0.3s;
			}
			#call-to-action input#email{
				width:249px;
			}
			#call-to-action input#time{
				width:184px;
			}
			@media(max-width: 640px){
				#call-to-action, #call-to-action input{
					font-size: 18px;
				}
				#email-wrapper, #time-wrapper{
					display:block;
				}
					#call-to-action input{
						text-align: center;
						padding-top: 7px;
						padding-bottom: 3px;
					}
					#call-to-action input#email{
						width:197px;
					}
					#call-to-action input#time{
						width:140px;
					}
				#time-wrapper span{
					display: inline-block;
					padding-left: 3px;
				}
					#time-wrapper span abbr::before{
						content:"&";
					}
			}
			#call-to-action input:focus{
				outline:0;
				border-bottom:2px solid rgba(255,255,255, 1.0);
			}
			#send-email-wrapper{
				padding-top: 15px;			
			}	
				#send-email{
					display: inline-block;
					border-radius: 3px;
					padding: 10px 20px;
					border:none;
					font-size: 24px;
					color: #576670;
					background-color: #EEE;
					cursor: pointer;
					margin-top: 20px;
				}
				#send-email.loading{
					background-color: #CCC;
				}
				#email-sent-success, #email-sent-fail{
					display: none;
					color:#FFF;
				}
				#send-email-wrapper.sent #send-email{
					display: none;
				}
				#send-email-wrapper.sent-success #email-sent-success{
					display:inline-block;
				}
				#send-email-wrapper.sent-fail #email-sent-fail{
					display:inline-block;
				}
			@media(max-width: 640px){
				#send-email-wrapper{
					padding-top: 10px;
					padding-bottom: 10px;	
				}
				#send-email{
					font-size: 20px;
				}
			}